VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_API_AUTH=your-auth-domain
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
VITE_FIREBASE_MESSAGING=your-messaging-id
VITE_FIREBASE_API_ID=your-app-id
VITE_FIREBASE_MEASUREMENT_ID=your-measurement-id
