@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-color: #1a1a1a;
  --bgColor: #141420;
  --body: #4B53FF;
  --accent: #EA3536;
  --glassBg: #1A1A26;
  --icon: #5D5D65;
  --friend: #00FFAE;
  --family: #E56969;
}
::selection{
    color: white;
    background-color: black;
}

@layer base{
    .home{
        @apply overflow-y-auto overflow-x-hidden text-4xl p-[40px] max-w-[430px] h-[932px] leading-tight bg-[var(--bgColor)]
    }
    .btns{
        @apply flex gap-10 items-center justify-center my-4 text-white
    }
    /* btn variants css */
    .activeBtn{
        @apply bg-[var(--body)] rounded-[50px] text-xl w-[130px] h-[60px] content-center text-center
        cursor-pointer
    }
    .disableBtn{
        @apply bg-transparent border-[3px] border-solid border-[var(--icon)] rounded-[50px] text-xl w-[135px] h-[60px] content-center text-center hover:bg-[var(--accent)] hover:border-none cursor-pointer
    }
    /* searchbar css */
    .search{
        @apply flex flex-col gap-8 mt-8
    }
    .upper{
        @apply flex flex-row justify-between text-white font-semibold items-center
    }
    .upper .penIcon{
        @apply size-[24px] text-[var(--icon)] hover:text-[var(--body)] cursor-pointer
    }
    .lower .searchIcon{
        @apply absolute text-[var(--icon)] top-[14px] left-4 text-[32px]
    }
    .lower input{
        @apply rounded-full py-2 pl-14 bg-transparent h-[60px] w-[350px] text-[20px] text-white border-[3px] border-[var(--icon)]
    }
    /* contact card css */
    .contact{
        @apply max-w-[350px] h-[80px] font-semibold flex flex-row gap-5 justify-center items-center mt-8
    }
    .contact img{
        @apply size-20 rounded-full
    }
    .contact .contactDetails{
        @apply flex flex-col justify-center items-start w-[70%] gap-1
    }
    .contactName{
        @apply flex flex-row gap-2 text-white
    }
    .contactDetails p{
        @apply text-[16px] text-[var(--icon)] w-[55px] h-[25px]
    }
    .contactFavorite{
        @apply flex flex-col items-center justify-center w-[30%]
    }
    .contactFavorite .starIcon{
        @apply cursor-pointer
    }
    .contactFavorite p{
        @apply text-sm text-[var(--icon)] mt-1
    }
    .contactName p{
        @apply text-[10px]  rounded-full px-3 mb-1 mt-1 text-center content-center text-black
    }
    /* modal form css */
    .modalForm{
        @apply shadow-sm z-50 max-w-[430px] h-[550px] bg-[var(--glassBg)] absolute bottom-0 px-[40px] py-6 overflow-x-auto
    }
    .formFields{
        @apply flex flex-col;
    }
    .formFields label{
        @apply text-[var(--body)] text-xl;
    }
    .formInput{
        @apply rounded-xl focus:outline-none focus:border-[var(--body)] py-2 mb-4 pl-6 bg-transparent h-[60px] w-full text-[16px] text-white border-[3px] border-[var(--icon)];
    }
    .modalBtn{
        @apply w-full flex justify-end items-center
    }
    .modalBtn button{
        @apply rounded-xl text-[16px] text-white w-[130px] self-end h-[50px] content-center text-center
        cursor-pointer
    }
    /* footer css */
    .footer{
        @apply fixed bg-[var(--glassBg)] z-10 rounded-full mb-4 bottom-0 left-1/2 transform -translate-x-1/2
    }
    .footer .menus{
        @apply flex gap-10 shadow-sm text-[18px] text-white font-semibold items-center  px-[40px] py-4 w-full
    }
    .menus a{
        @apply cursor-pointer hover:text-[var(--body)]
    }
}
